<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModelVersion</key>
	<integer>300</integer>
	<key>hasPanels</key>
	<true/>
	<key>imageFilterID</key>
	<string>3.0 Filters/Retro</string>
	<key>imageFilterParameter</key>
	<real>0.0</real>
	<key>panels</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>center</key>
			<string>{141.89333, 347.07043}</string>
			<key>size</key>
			<string>{283.78665, 265.3562}</string>
		</dict>
	</array>
</dict>
</plist>
